<div class="ui container">
    <form [formGroup]="adminForm" class="ui form" (ngSubmit)="onadminSubmit()" >
        <h3 style="background-color: lightblue;" class="ui block header">
            Admin Login
          </h3>
          <div class="field">
            <label>Admin Id</label>
            <input type="email" formControlName="aemail">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" formControlName="apass">
        </div>
        <button class="ui primary button" class="ui primary button" type="submit">Submit</button>
    </form>
    <br><br><hr>
    <form [formGroup]="userForm" class="ui form" (ngSubmit)="onuserSubmit()" >
        <h3 style="background-color: lightblue;" class="ui block header">
            User Login
          </h3>
          <div class="field">
            <label>Email</label>
            <input type="email" formControlName="uemail">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" formControlName="upass">
        </div>
        <button class="ui primary button" class="ui primary button" type="submit">Submit</button>
    </form>
</div>