<hr>
<table id='table' #table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>Gender</th>
        <th>School</th>
        <th>Major</th>
        <th>Total Marks</th>
        <th>Obtained Marks</th>
        <th>Percentage</th>
        <th>College</th>
        <th>Major</th>
        <th>Total Marks</th>
        <th>Obtained Marks</th>
        <th>Percentage</th>
        <th>University</th>
        <th>Degree Name</th>
        <th>CGPA</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Profile</th>
    </tr>
    <tr *ngFor='let item of arr'>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.pass }}</td>
        <td>{{ item.phno }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.gender }}</td>

        <td>{{ item.miname }}</td>
        <td>{{ item.mmajors }}</td>
        <td>{{ item.mtmarks }}</td>
        <td>{{ item.momarks }}</td>
        <td>{{ item.mper }}</td>
        
        <td>{{ item.ciname }}</td>
        <td>{{ item.cmajors }}</td>
        <td>{{ item.ctmarks }}</td>
        <td>{{ item.comarks }}</td>
        <td>{{ item.cper }}</td>

        
        <td>{{ item.uiname }}</td>
        <td>{{ item.udname }}</td>
        <td>{{ item.cgpa }}</td>

        <td> <button class="ui mini olive button" (click)="deleteFunction(item.Id, $event)" >Delete</button> </td>
        <td> <button class="ui mini green button" (click)="editFunction(item.Id, $event)">Edit</button> </td>
        <td> <button class="ui mini teal button" (click)="profileFunction(item.Id, $event)">Profile</button> </td>
    </tr>


</table><br><br><hr>
<button style="position: absolute;left: 46%;" class="ui primary button" (click)="cardview()">Card View</button>
<router-outlet></router-outlet>