<div class="ui container">
        <form [formGroup]="studentMgmtForm" class="ui form" (ngSubmit)="onSubmit()" >
        <h3 style="background-color: lightblue;" class="ui block header">
            Personal Information
          </h3>
          <div class="field">
            <label>Email</label>
            <input type="email" formControlName="email">
            <small style="color: red;" *ngIf="studentMgmtForm.get('email').invalid && studentMgmtForm.get('email').touched">Please Enter proper Email Address</small>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" formControlName="pass">
          <small style="color: red;" *ngIf="studentMgmtForm.get('pass').invalid && studentMgmtForm.get('pass').touched">Please Enter atleat 5 digit Password</small>
        </div>
        <div class="field">
            <label>First Name</label>
            <input type="text" formControlName="fname">
            <small style="color: red;" *ngIf="studentMgmtForm.get('fname').invalid && studentMgmtForm.get('fname').touched">Please Enter your First Name</small>
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" formControlName="lname">
            <small style="color: red;" *ngIf="studentMgmtForm.get('lname').invalid && studentMgmtForm.get('lname').touched">Please Enter your Last Name</small>
          </div>
          <div class="field">
            <label>Address</label>
            <input type="text" formControlName="address">
            <small style="color: red;" *ngIf="studentMgmtForm.get('address').invalid && studentMgmtForm.get('address').touched">Please Enter your Address</small>
          </div>
            <div class="field">
              <label>Phone Number</label>
              <input type="text" formControlName="phno">
              <small style="color: red;" *ngIf="studentMgmtForm.get('phno').invalid && studentMgmtForm.get('phno').touched">Please Enter 11 digit Phone Number</small>
            </div>
            <div class="field">
                <label>City</label>
                <input type="text" formControlName="city">
                <small style="color: red;" *ngIf="studentMgmtForm.get('city').invalid && studentMgmtForm.get('city').touched">Please Enter your City</small>
            </div>
                <div class="field">
                    <label>Gender</label>
                    <select type="text" formControlName="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                    <small style="color: red;" *ngIf="studentMgmtForm.get('gender').invalid && studentMgmtForm.get('gender').touched">Please select your Gender</small>
              </div>
          <div class="ui divider"></div>
          <h3 style="background-color: lightblue;" class="ui block header">
            Matric Information
          </h3>
          <div class="field">
            <label>Institute Name</label>
            <input type="text" formControlName="miname">
            <small style="color: red;" *ngIf="studentMgmtForm.get('miname').invalid && studentMgmtForm.get('miname').touched">Please Enter your Institution Name</small>
      </div>
      <div class="field">
        <label>Majors</label>
        <input type="text" formControlName="mmajors">
        <small style="color: red;" *ngIf="studentMgmtForm.get('mmajors').invalid && studentMgmtForm.get('mmajors').touched">Please Enter your Major Subject</small>
  </div>
  <div class="field">
    <label>Total Marks</label>
    <input type="number" formControlName="mtmarks">
    <small style="color: red;" *ngIf="studentMgmtForm.get('mtmarks').invalid && studentMgmtForm.get('mtmarks').touched">Please Enter your Total Marks</small>
</div>
<div class="field">
    <label>Obtained Marks</label>
    <input type="number" formControlName="momarks">
    <small style="color: red;" *ngIf="studentMgmtForm.get('momarks').invalid && studentMgmtForm.get('momarks').touched">Please Enter your Obtained Marks</small><br>
    <small style="color: red;" *ngIf="studentMgmtForm.get('mtmarks').value < studentMgmtForm.get('momarks').value && studentMgmtForm.get('momarks').touched">Obtained Marks cannot be greater than Total Marks</small>
</div>
<div class="field">
    <label>Percentage</label>
    <input type="number" formControlName="mper">
    <small style="color: red;" *ngIf="studentMgmtForm.get('mper').invalid && studentMgmtForm.get('mper').touched">Please Enter your Percentage (1 - 100)</small>
</div>
<h3 style="background-color: lightblue;" class="ui block header">
    College Information
  </h3>
  <div class="field">
    <label>Institute Name</label>
    <input type="text" formControlName="ciname">
    <small style="color: red;" *ngIf="studentMgmtForm.get('ciname').invalid && studentMgmtForm.get('ciname').touched">Please Enter your Institution name</small>
</div>
<div class="field">
    <label>Majors</label>
    <input type="text" formControlName="cmajors">
    <small style="color: red;" *ngIf="studentMgmtForm.get('cmajors').invalid && studentMgmtForm.get('cmajors').touched">Please Enter your Major</small>
</div>
<div class="field">
    <label>Total Marks</label>
    <input type="number" formControlName="ctmarks">
    <small style="color: red;" *ngIf="studentMgmtForm.get('ctmarks').invalid && studentMgmtForm.get('ctmarks').touched">Please Enter your Total Marks</small>
</div>
<div class="field">
    <label>Obtained Marks</label>
    <input type="number" formControlName="comarks">
    <small style="color: red;" *ngIf="studentMgmtForm.get('comarks').invalid && studentMgmtForm.get('comarks').touched">Please Enter your Obtained Marks</small><br>
    <small style="color: red;" *ngIf="studentMgmtForm.get('ctmarks').value < studentMgmtForm.get('comarks').value && studentMgmtForm.get('comarks').touched">Obtained Marks cannot be greater than Total Marks</small>
</div>
<div class="field">
    <label>Percentage</label>
    <input type="number" formControlName="cper">
    <small style="color: red;" *ngIf="studentMgmtForm.get('cper').invalid && studentMgmtForm.get('cper').touched">Please Enter your Percentage (1 - 100)</small>
</div>
<h3 style="background-color: lightblue;" class="ui block header">
    University Information
  </h3>
  <div class="field">
    <label>Institute Name</label>
    <input type="text" formControlName="uiname">
    <small style="color: red;" *ngIf="studentMgmtForm.get('uiname').invalid && studentMgmtForm.get('uiname').touched">Please Enter your University Name</small>
</div>
<div class="field">
    <label>Degree Name</label>
    <input type="text" formControlName="udname">
    <small style="color: red;" *ngIf="studentMgmtForm.get('udname').invalid && studentMgmtForm.get('udname').touched">Please Enter your Degree Name</small>
</div>
<div class="field">
    <label>CGPA</label>
    <input type="number" formControlName="cgpa">
    <small style="color: red;" *ngIf="studentMgmtForm.get('cgpa').invalid && studentMgmtForm.get('cgpa').touched">Please Enter your CGPA(1.0 - 4.0)</small>
</div>
<button [disabled]="studentMgmtForm.invalid" class="ui primary button" class="ui primary button" type="submit">Submit</button>
<br><br><hr>
    </form>
</div>