<h2 style="text-align: center;" >Student Management</h2>
<div style="position: absolute;left: 45%;">
  <nav>
    <button class="ui olive button" routerLink="/form">Form</button>
    <button *ngIf="!isUserLoggedIn" class="ui green button" routerLink="/login">Login</button>
    <button *ngIf="isUserLoggedIn" class="ui green button" (click)="logout()" >Logout</button>
  </nav>
  
</div><br>
<br><hr>

<router-outlet></router-outlet>