<div *ngFor='let item of arr'>
    <h3 class="ui block header">
        {{ item.fname + " " + item.lname }}
      </h3>
        <p>{{ "Email: " + item.email }}</p>
        <p>{{ "Phone Number: " + item.phno }}</p>
        <p>{{ "School Name: " + item.miname }}</p>
        <p>{{ "College Name: " + item.ciname }}</p>
        <p>{{ "Univesity Name: " + item.uiname }}</p>
        <br>
        <button class="ui mini green button" (click)="profileFunction(item.Id, $event)" >Go to Profile</button>
        <br><br><hr>
</div>