<div class="ui segment">
    <div style="background-color: lightskyblue;">
        <p style="padding-top: 10px;text-align: center;font-size: x-large;">{{ obj.fname+ " " + obj.lname }}</p>
        <p style="text-align: center;font-size: medium;">{{ obj.city }}</p>
        <p style="text-align: center;font-size: medium;">{{ obj.email }}</p>
        <p style="text-align: center;font-size: medium;">{{ obj.phno }}</p>
        <p style="text-align: center;font-size: medium;">{{ obj.address }}</p>
        <br>
    </div><br><br><br>
    <div class="ui three column very relaxed stackable grid">
        <div class="column">
            <p style="text-align: center;font-size: x-large;">School Details</p>
            <p style="text-align: center;font-size: medium;">{{ "School Name: " + obj.miname }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Major Subjects: " + obj.mmajors }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Total Marks: " + obj.mtmarks }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Obtained Marks: " + obj.momarks }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Percentage: " + obj.mper }}</p>
        </div>
        <div class="column">
            <p style="text-align: center;font-size: x-large;">College Details</p>
            <p style="text-align: center;font-size: medium;">{{ "College Name: " + obj.ciname }}</p>
            <p style="text-align: center;font-size: medium;">{{ "College Subjects: " + obj.cmajors }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Total Marks: " + obj.ctmarks }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Obtained Marks: " + obj.comarks }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Percentage: " + obj.cper }}</p>
        </div>
        <div class="column">
            <p style="text-align: center;font-size: x-large;">University Details</p>
            <p style="text-align: center;font-size: medium;">{{ "University Name: " + obj.uiname }}</p>
            <p style="text-align: center;font-size: medium;">{{ "Degree Name: " + obj.udname }}</p>
            <p style="text-align: center;font-size: medium;">{{ "CGPA: " + obj.cgpa }}</p>
        </div>
    </div>
    <br><br><br>
    <button style="position: absolute;left: 48%;" class="ui primary button" (click)="edit()">Edit</button>
</div>